body {
    font-family: 'Segoe UI', sans-serif;
}

.header {
    background: none;
}

header a {
    font-weight: 200;
}

.header-body {
    padding-top: 15px;
}

.header-body__top {
    align-items: center;
}

.header-top__nav {
    margin-right: 30px;
}

.header-top-contact {
    display: flex;
    flex-grow: 1;
}

.header-top__socials:after {
    display: none;
}

.header-top__socials li:last-child {
    margin-right: 35px;
}

.header-top__socials:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: block;
    background-color: rgba(39, 39, 39, .4);
    width: 1px;
    height: 26.5px;
}

.header-body__logo {
    width: 211px;
    margin-right: 21px;
}

.header-body__logo-sm {
    display: none;
}

.header-body__item img {
    min-width: 24px;
}

.burger-menu {
    background: none;
    border: 1px solid #FF0000;
    padding: 10.5px 42.5px;
}

.burger-menu__text {
    color: #FF0000;
}

.burger-menu:hover {
    background: #FF0000;
}

.burger-menu:hover .burger-menu__text {
    color: #FFFFFF;
}

.burger-menu__line::after {
    background-color: #FF0000;
}

.burger-menu__line::before {
    background-color: #FF0000;
}

.burger-menu__line span {
    background-color: #FF0000;
}

.burger-menu:hover .burger-menu__line span {
    background-color:  #FFFFFF;
}

.burger-menu:hover .burger-menu__line:before {
    background-color: #FFFFFF;
}

.burger-menu:hover .burger-menu__line:after {
    background-color: #FFFFFF;
}

.search__btn {
    background: none;
    border: 1px solid #A9A9A9;
}

.socials__item svg:hover {
    fill: none;
}

.search__btn:hover {
    background-color: inherit;
    color: #FF0000;
}

.search__btn:hover svg path {
    stroke: #FF0000;
}

.search__input:focus {
    border: 1px solid rgba(39, 39, 39, .4);
}

.header-body__right {
    align-items: center;
}

.header-body__item:hover svg path {
    stroke: #FF0000;
}

.header-body__left {
    margin-right: 24px;
}

.header-body__item .cnt {
    top: -7px;
}

.header-body__item:not(:last-child) {
    margin-right: 35px;
}

@media (max-width: 1400px) {
    .header-top__nav {
        margin-right: 0;
    }

    .header-top__item {
        margin-right: 20px;
    }

}

@media (max-width: 1300px) {
    .header-top__item a,
    .header-top__link {
        font-size: 14px;
    }

    .header-top__socials li:last-child {
        margin-right: 25px;
    }

}

@media (max-width: 998px) {
    .header-body__left {
        margin: 0;
    }
}

@media (max-width: 1200px) {
    .header-body {
        padding: 10px 0;
    }

    .header-body__logo {
        display: none;
    }

    .header-body__logo-sm {
        display: block;
    }

    .header-top__item a,
    .header-top__link {
        font-size: 16px;
    }

}

@media (max-width: 640px) {
    .header {
        display: none;
    }
}

.text {
    margin: 50px auto;
    max-width: 1400px;
    padding: 0 15px;
}

